* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

header {
  height: 200px;
  width: 50%;
  padding: 100px;
  border: 1px solid black;
}


#navbar{
  display: flex;
  flex-direction: row;
  
 }

h1 {
  width: 25%;
  font-weight: 500;
}


#hero-banner {
  background-image: url("../images/02-hero-bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 50%;
  display: flex; 
  }
.page-section {
display:flex;


}

.page-wrapper {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1 fr;
  grid-template-areas: 
  "header text"
  "header work"
  "header contatct";
  }








 h2{
  justify-content:flex-end;
}

.about {
  display:flex;
  flex-direction: row;
}
#contact{

}






@media only screen and (max-width:10000px)





































